@charset "utf-8";
/* CSS Document */

body{
	width: 100%;
	margin: auto;
	padding: 2px;
	background-color: white
		;
}
header{
	width: 100%;
	background-color: white;
		
	
}
.menu{
	width: 70%;
	overflow: hidden;
	position: fixed;
	
}
.menu a{
	float: left;
	display: block;
	padding: 20px 22px;
	
	color: black;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	text-transform: uppercase;
	
	
}
.menu a:hover{
	border: solid #F78585;
	background-color: white;
}
.menu p{
	float: left;
	display: block;
	padding: 20px 22px;
	
	color: black;
	text-align: left;
	text-decoration: none;
	font-size: 20px;
	text-transform: uppercase;
}
